.navigation {
  height: 337px;
}

h1 {
  
}

.social-nav {
  width: 100vw;
  height: 27px;
}

.social-ul {
  display: flex;
  flex-direction: row !important;
  padding: 3px 10px 3px 0;
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
  float: right;
} 

.social-li {
display: block;
width: 20px;
margin: 0 10px 0 10px;
}

.media-image {
  display: block;
  width: 20px !important;
}

.media-image {
  display: block;
  height: 20px;
  width: 20px;
  border: 0px !important;
}

.menu-nav {
  display: flex;
  flex-direction: row;
}

.menu {
  display: block;
  text-align: left;
  width: 220px;
  background-color: #decfc8 !important;
  padding: 50px 0px 1px 10px !important;
  margin-bottom: 0px !important;
}

.menu-item {
  text-transform: uppercase !important;
}

.header-name {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 45px;
  font-family: 'Homemade Apple', cursive;
}