.App {
  height: 100vh;
  
}

.social-nav {
  width: 100vw;
  height: 25px;
}

.social-ul {
  display: flex;
  flex-direction: row !important;
  padding: 5px 10px 5px 0;
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
  float: right;
} 

.social-li {
float: block;
width: 15px;
padding: 0 15px 0 15px;
}

.media-image {
  display: block;
  width: 15px !important;
}

.media-image {
  display: block;
  height: 15px;
  width: 15px;
  border: 0px !important;
}

.menu {
  text-align: left;
  width: 230px;
  background-color: #decfc8 !important;
  padding: 50px 0px 1px 10px !important;
}

.menu-item {
  text-transform: uppercase !important;
}

h1 {
  font-family: 'Homemade Apple', cursive;
}