.App {
  height: 100vh;
  
}

.social-ul {
  display: block;
  list-style-type: none;
} 

.social-item {
  display: block;
}

.media-image {
  display: block;
  margin: 0 auto;
  height: 15px;
  width: auto;
}

.menu {
  text-align: left;
  width: 230px;
  background-color: #decfc8 !important;
  padding: 50px 0px 1px 10px !important;
}

.menu-item {
  text-transform: uppercase !important;
}

h1 {
  font-family: 'Homemade Apple', cursive;
}