.footer {
  margin: 20px 0;
}

.footer-social-nav {
  width: 100vw;
  height: 40px;
}

.footer-social-ul {
  display: flex;
  flex-direction: row !important;
  padding: 5px 0px 5px 0;
  margin: 0px;
  list-style-type: none;
  overflow: hidden;
  justify-content: center;
} 

.footer-social-li {
display: block;
width: 30px;
margin: 0 10px 0 10px;
}

.footer-media-image {
  display: block;
  width: 30px !important;
}

.footer-media-image {
  display: block;
  height: 30px;
  width: 30px;
  border: 0px !important;
}

.footer-blurb {
  text-align: center;
}